.grid-item{
    background-color: blue;
}
.grid-container{
    display: grid;
    height:500px;
    width: 580px;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;

}
#grid-item-B{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

